/* Tata letak default */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Atur tata letak untuk perangkat dengan lebar layar maksimum 768px (misalnya, perangkat tablet dan smartphone dalam orientasi potret) */
  @media only screen and (max-width: 768px) {
    .container {
      padding-right: 10px;
      padding-left: 10px;
    }
    /* Atur tata letak navbar untuk perangkat dengan lebar layar maksimum 768px */
    .navbar-brand {
      margin-right: 0;
      margin-left: 0;
    }
    .navbar-nav {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .navbar-collapse {
      max-height: none;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-toggler {
      display: block!important;
    }
    .navbar-toggler-icon {
      background-image: none;
    }
    .navbar-toggler:focus {
      outline: 0;
    }
  }
  
  /* Atur tata letak untuk perangkat dengan lebar layar maksimum 576px (misalnya, smartphone dalam orientasi potret) */
  @media only screen and (max-width: 576px) {
    .container {
      padding-right: 5px;
      padding-left: 5px;
    }
    /* Atur tata letak logo navbar untuk perangkat dengan lebar layar maksimum 576px */
    .navbar-brand img {
      height: 30px;
    }
    /* Atur tata letak menu navbar untuk perangkat dengan lebar layar maksimum 576px */
    .navbar-nav {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .nav-item {
      text-align: center;
    }
  }
  